/*
* @Author: bigfa
* @Date:   2016-03-27 16:11:37
* @Last Modified by:   bigfa
* @Last Modified time: 2016-04-11 12:50:36
*/

.nm-p-lists{
  overflow:hidden;
}

.nm-p-item{
  float:left;
  margin-right: 10px;
  width: 150px;
}

.nm-form{
  margin-bottom: 20px;
}

.nm-form-submit{
  border:0;
  background-color: #cc0000;
  color:#fff;
  cursor:pointer;
}

.nm-delete-btn{
  cursor:pointer;
}